In [1]:
a=2
a

2

In [2]:
id(a)

140711794614704

In [3]:
print("adress of a=",id(a))

adress of a= 140711794614704

In [4]:
print("type of a=",type(a))

type of a= <class 'int'>

In [10]:
b="python"
c=['jhg','rty']

In [11]:
print("type of a=",type(b))
print("type of a=",type(c))

type of a= <class 'str'>
type of a= <class 'list'>

In [12]:
d=6+8j
d

(6+8j)

In [13]:
print("type of =",type(d))

type of = <class 'complex'>

In [15]:
a=4
b=5
c=a/b
print(c)
print("type of c",type(c))

0.8
type of c <class 'float'>

In [16]:
a='678'
a=int(a)
a

678

In [18]:
print("type of a",type(a))

type of a <class 'int'>

In [19]:
a=678
a=str(a)
a

'678'

In [20]:
print("type of a",type(a))

type of a <class 'str'>

In [22]:
# python Operators
#1. Arithmetic operators
a=20
b=7
print('a+b=',a+b)
print('a-b=',a-b)
print('a*b=',a*b)
print('a/b=',a/b)
print('a%b=',a%b)
print('a//b=',a//b)
print('a**b=',a**b)

a+b= 27
a-b= 13
a*b= 140
a/b= 2.857142857142857
a%b= 6
a//b= 2
a**b= 1280000000

In [23]:
#2. Comparsion operators
a=20
b=7
print('a>b=',a>b)
print('a<b=',a<b)
print('a==b=',a==b)
print('a!=b=',a!=b)
print('a>=b=',a>=b)
print('a<=b=',a<=b)

a>b= True
a<b= False
a==b= False
a!=b= True
a>=b= True
a<=b= False

In [24]:
#3. Logical Operators
#  and or not
a=True
b=False
print('a and b=',a and b)
print('a or b=',a or b)
print('a not a=',not a)
print('b not a=',not b)

a and b= False
a or b= True
a not a= False
b not a= True

In [26]:
# Bitwise operators
# and or not XOR BRS,BLS
a=5
b=2
print('a & b=',a & b)
print('a | b=',a | b)
print('~ b=', ~b)
print('a ^ b=',a ^ b)
print('a &>>b=',a >> b)
print('a << b=',a << b)

a & b= 0
a | b= 7
~ b= -3
a ^ b= 7
a &>>b= 1
a << b= 20

In [35]:
# Assignment Operators
a=4
print('a=',a)
a+=2
a

a= 4

6

In [ ]:
# Python Data types

In [40]:
#1. String
st='python programming'
print(st)

python programming

In [44]:
print('st=',st[0])
print('st=',st[-1])
print('st=',st[3:6])
print('st=',st[4:])
print('st=',st[:5])

st= p
st= g
st= hon
st= on programming
st= pytho

In [45]:
print('st=',st[1.5])

TypeError: string indices must be integers

In [48]:
print(st+" IT")

python programming IT

In [49]:
print(st*5)

python programmingpython programmingpython programmingpython programmingpython programming

In [50]:
# List
l1=['python',234,23+7j,['IT'],{23,98,'fg'}]
l1

['python', 234, (23+7j), ['IT'], {23, 98, 'fg'}]

In [51]:
print(l1[0])
print(l1[-1])

python
{'fg', 98, 23}

In [53]:
print(l1[1:3])

[234, (23+7j)]

In [54]:
print(l1[:3])
print(l1[:5])

['python', 234, (23+7j)]
['python', 234, (23+7j), ['IT'], {'fg', 98, 23}]

In [55]:
print(l1[-1:-3])

[]

In [56]:
l2=[677,876]
l2

[677, 876]

In [57]:
l1+l2

['python', 234, (23+7j), ['IT'], {23, 98, 'fg'}, 677, 876]

In [58]:
l1*4

['python',
 234,
 (23+7j),
 ['IT'],
 {23, 98, 'fg'},
 'python',
 234,
 (23+7j),
 ['IT'],
 {23, 98, 'fg'},
 'python',
 234,
 (23+7j),
 ['IT'],
 {23, 98, 'fg'},
 'python',
 234,
 (23+7j),
 ['IT'],
 {23, 98, 'fg'}]

In [61]:
# tuple
t1=(56,'it',90+5j)
t1

(56, 'it', (90+5j))

In [62]:
type(t1)

tuple

In [63]:
t2=565,343
t2

(565, 343)

In [65]:
print(t1[0])
print(t1[-1])

56
(90+5j)

In [66]:
print(t1[0:2])
print(t1[0:])
print(t1[:2])

(56, 'it')
(56, 'it', (90+5j))
(56, 'it')

In [67]:
print(t1+t2)

(56, 'it', (90+5j), 565, 343)

In [69]:
print((t1+t2)*3)

(56, 'it', (90+5j), 565, 343, 56, 'it', (90+5j), 565, 343, 56, 'it', (90+5j), 565, 343)

In [70]:
#set
s1={45,56}
s1

{45, 56}

In [72]:
s2={45,'gh'}
s2

{45, 'gh'}

In [73]:
s1[0]

TypeError: 'set' object is not subscriptable

In [74]:
# Dictionary
d1={}
d1={1:'apple',2:'red',3:'yellow',4:'mango'}
d1

{1: 'apple', 2: 'red', 3: 'yellow', 4: 'mango'}

In [75]:
print(d1[1])

apple

In [76]:
print(d1.get(1))

apple

In [81]:
print(d1.get('yellow'))

None

In [82]:
print(d1.keys())

dict_keys([1, 2, 3, 4])

In [79]:
print(d1.values())

dict_values(['apple', 'red', 'yellow', 'mango'])

In [80]:
print(d1.keys(),d1.values())

dict_keys([1, 2, 3, 4]) dict_values(['apple', 'red', 'yellow', 'mango'])